:root{
    --main : hsl(235,21%,11%);
    --card : hsl(235,24%,19%);
    --text : hsl(234,39%,85%);
    --fade-text : hsl(234,39%,85%);
    --light-text : hsl(233,14%,35%);
    --shadow : hsl(237,14%,25%);
    --hover : hsl(236,33%,92%);
    --blue : hsl(220,98%,61%);
    --bg-desktop : url('./images/bg-desktop-dark.jpg');
    --bg-mobile : url('./images/bg-mobile-dark.jpg');
}
/*Media query for the desktop layout*/
@media screen and (min-width : 450px) {
    *{
        padding: 0;
        margin: 0;
    }
    body{
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        background-color: var(--main);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
    }
    header{
        width: 100%;
        height: 40%;
        margin: 0;
        padding: 0;
        background-image: var(--bg-desktop);
        background-repeat: no-repeat;
        background-size: cover;
    }
    header .head-part{
        width: 500px;
        height: 70px;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 20%;
        left: 50%;
        transform: translate(-50%,0%);
    }
    .head-part h1{
        color: #ffffff;
        font-weight: 700;
        letter-spacing: 8px;
    }

    main{
        width: 500px;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    li,a{
        text-decoration: none;
        list-style-type: none;
        display: block;
    }

    main .add-item{
        width: 100%;
        height: 15%;
        background-color: var(--card);
        color: var(--text);
        border-radius: 5px 5px 5px 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: rgba(0,0,0,0.5) 0px 10px 50px -10px;
    }

    .add-item .chk-wrapper{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #checkmark{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        padding: 0;
        margin: 0;
        border: 1px solid var(--light-text);
        border-radius: 50%;
        cursor: pointer;
        box-sizing: border-box;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #checkmark img{
        width: 10px;
        height: 10px;
        color : white;
    }
    .add-item input[type='text']{
        width: 60%;
        height: 70%;
        padding: 0;
        margin: 0;
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: inherit;
        color: var(--text);
        font-size: 16px;
        font-family: 'Josefin Sans', sans-serif;
    }
    .add-item .space-wrapper{
        width: 20%;
        height: 100%;
    }


    .list-wrapper{
        width: 100%;
        height: 80%;
        padding: 0;
        margin: 0;
        box-shadow: rgb(0,0,0) 0px 30px 50px -30px;
    }

    .todo-list{
        width: 100%;
        height: 90%;
        padding: 0;
        margin: 0;
        background-color: var(--card);
        border-radius: 5px 5px 0px 0px;
        overflow: auto;
        cursor: pointer;
    }
    .todo-list .todo-item{
        width: 100%;
        height: 20%;
        padding: 0;
        margin: 0;
        border: none;
        border-bottom: 0.5px solid var(--light-text);
        background-color: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .todo-item .chk-list{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .todo-item .checkmark{
        width: 25px;
        height: 25px;
        padding: 0;
        margin: 0;
        border: 1px solid var(--light-text);
        border-radius: 50%;
        cursor: pointer;
        box-sizing: border-box;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .todo-item .checkmark:hover{
        border: 1px solid var(--blue);
    }

    .chkmark img{
        width: 10px;
        height: 10px;
    }

    .todo-item .todo-text{
        display: block;
        width: 60%;
        height: 100%;
        padding: 0;
        margin: 0;
        color: var(--text);
        font-size: 18px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        overflow: auto;
    }

    .todo-item .todo-del{
        width: 20%;
        height: 100%;
        background-color: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .todo-list em{
        display: block;
        margin: auto;
        color: var(--light-text);
        position: relative;
        top : 50%;
        left: 100%;
        transform: translate(-65%,-50%);
    }

    .actions{
        width: 100%;
        height: 15%;
        background-color: var(--card);
        border-top: 1px solid var(--light-text);
        border-radius: 0px 0px 5px 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .actions p , #items-left span{
        color: var(--light-text);
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        user-select: none;
    }

    .actions p:hover{
        color: var(--blue);
    }

    .actions p:active{
        color: var(--blue);
    }

    .actions div{
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--card);
    }

    .actions .nav{
        width: 40%;
        height: 100%;
    }

    .nav div{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .bot-txt{
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%,0%);
        font-size: 14px;
        color: var(--light-text);
        user-select: none;
    }

    ::-webkit-scrollbar{
        width: 5px;
    }
    ::-webkit-scrollbar-track{
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb{
        background-color: var(--light-text);
        border-radius: 10px;
    }
}

/*Media query for the Mobile layout*/
@media screen and (max-width : 450px) {
    *{
        padding: 0;
        margin: 0;
    }
    body{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        background-color: var(--main);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        position: relative;
    }
    header{
        width: 100%;
        height: 250px;
        margin: 0;
        padding: 0;
        background: var(--bg-mobile);
        background-repeat: no-repeat;
        background-size: cover;
    }
    header .head-part{
        width: 80%;
        height: 10%;
        padding: 0;
        margin: 0;
        margin-right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 20%;
        left: 50%;
        transform: translate(-50%,30%);
    }
    .head-part h1{
        color: #ffffff;
        font-weight: 700;
        letter-spacing: 8px;
        font-size: 26px;
    }

    main{
        width: 85%;
        height: 462px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%,-35%);
    }

    li,a{
        text-decoration: none;
        list-style-type: none;
        display: block;
        color: var(--light-text);
    }

    main .add-item{
        width: 100%;
        height: 12%;
        margin-bottom: 20px;
        background-color: var(--card);
        border-radius: 5px 5px 5px 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: rgba(0,0,0,0.5) 0px 10px 50px -10px;
    }

    .add-item .chk-wrapper{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #checkmark{
        width: 20px;
        height: 20px;
        padding: 0;
        margin: 0;
        border: 1px solid var(--light-text);
        border-radius: 50%;
        cursor: pointer;
        box-sizing: border-box;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #checkmark img{
        width: 10px;
        height: 10px;
    }

    .add-item input[type='text']{
        width: 80%;
        height: 100%;
        padding: 0;
        margin: 0;
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: inherit;
        color: var(--text);
        font-size: 16px;
        font-family: 'Josefin Sans', sans-serif;
    }


    .list-wrapper{
        width: 100%;
        height: 70%;
        padding: 0;
        margin: 0;
        box-shadow: rgb(0,0,0) 0px 20px 70px -40px;
    }

    .todo-list{
        width: 100%;
        height: 90%;
        padding: 0;
        margin: 0;
        background-color: var(--card);
        border-radius: 5px 5px 0px 0px;
        overflow: auto;
    }
    .todo-list .todo-item{
        width: 100%;
        height: 20%;
        padding: 0;
        margin: 0;
        border: none;
        border-bottom: 0.5px solid var(--light-text);
        background-color: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .todo-item .chk-list{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .todo-item .checkmark{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid var(--light-text);
        padding: 0;
        margin: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .checkmark img{
        width: 10px;
        height: 10px;
    }

    .todo-item .todo-text{
        display: block;
        width: 60%;
        height: 100%;
        padding: 0;
        margin: 0;
        color: var(--text);
        font-size: 16px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .todo-item .todo-del{
        width: 20%;
        height: 100%;
        background-color: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .todo-list em{
        display: block;
        margin: auto;
        color: var(--light-text);
        position: relative;
        top : 50%;
        left: 100%;
        transform: translate(-65%,-50%);
    }

    .actions{
        width: 100%;
        height: 12%;
        background-color: var(--card);
        border-top: 1px solid var(--light-text);
        border-radius: 0px 0px 5px 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .actions p , #items-left span{
        color: var(--light-text);
        font-size: 12px;
        cursor: pointer;
        user-select: none;
    }

    .actions p:hover{
        color: var(--blue);
    }

    .actions p:active{
        color: var(--main);
    }

    .actions div{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--card);
    }

    .actions .nav{
        width: 100%;
        height: 50px;
        border-radius: 5px;
        box-shadow: rgb(0,0,0) 0px 30px 50px -20px;
        position: absolute;
        top: 100%;
        left: 0;
    }

    .nav div{
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .nav div a{
        font-size: 14px;
    }

    .bot-txt{
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%,0%);
        font-size: 14px;
        color: var(--light-text);
        display: none;
        user-select: none;
    }
    ::-webkit-scrollbar{
        width: 5px;
    }
    ::-webkit-scrollbar-track{
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb{
        background-color: var(--light-text);
        border-radius: 10px;
    }
}











